<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
    <style>
        h2{
            color: red;
            font-size: 103px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
            animation: ease-in;
            overflow-y:;
        }
    </style>
    <h2 style="text-align: center;">Hola Mundo</h2>
    
</body>
</html>